* {
  padding: 0;
  margin: 0; }

/**colors**/
/**font**/
/**colors**/
/**font**/
.articles {
  display: flex;
  background-color: #e8e8e8;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }
  .articles .articles__title {
    font: 'Roboto';
    font-weight: bold;
    font-size: 2em;
    color: #333333;
    height: 75px; }
  .articles .articles__paragraph {
    font: 'Roboto';
    font-size: 1em;
    width: 75%;
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 20px; }

.sections {
  height: 50%;
  width: 100%; }
  .sections .section__darkbg {
    display: flex;
    background-color: #333333;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .sections .section__darkbg .section__darkbg--paragraph {
      color: #e8e8e8;
      font: 'Roboto';
      font-size: 1em;
      width: 75%;
      text-align: center;
      font-weight: 500; }

.grid-gallery {
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  grid-auto-flow: row dense; }
  .grid-gallery .grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1; }
  .grid-gallery .grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1; }
  .grid-gallery .grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1; }
  .grid-gallery .grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2; }
  .grid-gallery .grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2; }
  .grid-gallery .grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3; }
  .grid-gallery .grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/**colors**/
/**font**/
.redLine {
  height: 50px;
  width: 100%;
  background-color: #990100; }

/**colors**/
/**font**/
.title {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .title .title__head {
    position: relative;
    z-index: 1;
    font-family: 'Roboto';
    font-size: 3em;
    font-weight: bold;
    color: white; }
  .title .title__paragraph {
    position: relative;
    z-index: 1;
    font-family: 'Roboto';
    font-size: 1em;
    color: white;
    text-align: center;
    font-weight: 600; }

.title:before {
  content: "";
  width: 100%;
  height: 400px;
  background-color: black;
  position: absolute;
  opacity: 0.4;
  z-index: 0; }

/**fondos**/
.lotus1985 {
  background-image: url(../Multimedia/rKXPut6.jpg);
  background-size: 30%; }

.toleman {
  background-image: url(..//Multimedia/Toleman-TG184-00.jpg);
  background-size: 50%; }

.mclaren1 {
  background-image: url(..//Multimedia/Ayrton-Senna-McLaren.jpg);
  background-size: cover; }

.mclaren1988 {
  background-image: url(..//Multimedia/1200px-Ayrton_Senna_in_1988.jpg);
  background-size: 50%; }

.sennaProst {
  background-image: url(..//Multimedia/senna-prost-gp-san-marino-1989.jpg);
  background-size: cover; }

.williams {
  background-image: url(..//Multimedia/williams.jpg);
  background-size: cover; }

.postalSenna {
  background-image: url(..//Multimedia/postalsenna.jpg);
  background-size: cover; }

.pasajeInglaterra {
  background-image: url(..//Multimedia/Senna_-Premium-blog.jpg);
  background-size: cover; }

.imgBiografia {
  width: 100%;
  background-image: url(..//Multimedia/Site-AS-Setembro-Kart-81PP-860x430-1.jpg);
  background-size: cover;
  height: 400px; }

.bg-biografia {
  background-image: url(..//Multimedia/ayrtn-senna-debuta-en-formula-1.jpg);
  background-size: contain; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' '; }

.clearfix:after {
  clear: both; }

body {
  background: #f0f0f0 !important; }

.page-404 .outer {
  position: absolute;
  top: 0;
  display: table;
  width: 100%;
  height: 100%; }

.page-404 .outer .middle {
  display: table-cell;
  vertical-align: middle; }

.page-404 .outer .middle .inner {
  width: 300px;
  margin-right: auto;
  margin-left: auto; }

.page-404 .outer .middle .inner .inner-circle {
  height: 300px;
  border-radius: 50%;
  background-color: #ffffff; }

.page-404 .outer .middle .inner .inner-circle:hover i {
  color: #39bbdb !important;
  background-color: #f5f5f5;
  box-shadow: 0 0 0 15px #39bbdb; }

.page-404 .outer .middle .inner .inner-circle:hover span {
  color: #39bbdb; }

.page-404 .outer .middle .inner .inner-circle i {
  font-size: 5em;
  line-height: 1em;
  float: right;
  width: 1.6em;
  height: 1.6em;
  margin-top: -.7em;
  margin-right: -.5em;
  padding: 20px;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-align: center;
  color: #f5f5f5 !important;
  border-radius: 50%;
  background-color: #39bbdb;
  box-shadow: 0 0 0 15px #f0f0f0; }

.page-404 .outer .middle .inner .inner-circle span {
  font-size: 11em;
  font-weight: 700;
  line-height: 1.2em;
  display: block;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-align: center;
  color: #e0e0e0; }

.page-404 .outer .middle .inner .inner-status {
  font-size: 20px;
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  color: #39bbdb; }

.page-404 .outer .middle .inner .inner-detail {
  line-height: 1.4em;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  color: #999999; }

/**colors**/
/**font**/
.articles {
  display: flex;
  background-color: #e8e8e8;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }
  .articles .articles__title {
    font: 'Roboto';
    font-weight: bold;
    font-size: 2em;
    color: #333333;
    height: 75px; }
  .articles .articles__paragraph {
    font: 'Roboto';
    font-size: 1em;
    width: 75%;
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 20px; }

.sections {
  height: 50%;
  width: 100%; }
  .sections .section__darkbg {
    display: flex;
    background-color: #333333;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .sections .section__darkbg .section__darkbg--paragraph {
      color: #e8e8e8;
      font: 'Roboto';
      font-size: 1em;
      width: 75%;
      text-align: center;
      font-weight: 500; }

/**colors**/
/**font**/
.title {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .title .title__head {
    position: relative;
    z-index: 1;
    font-family: 'Roboto';
    font-size: 3em;
    font-weight: bold;
    color: white; }
  .title .title__paragraph {
    position: relative;
    z-index: 1;
    font-family: 'Roboto';
    font-size: 1em;
    color: white;
    text-align: center;
    font-weight: 600; }

.title:before {
  content: "";
  width: 100%;
  height: 400px;
  background-color: black;
  position: absolute;
  opacity: 0.4;
  z-index: 0; }

/**fondos**/
.lotus1985 {
  background-image: url(../Multimedia/rKXPut6.jpg);
  background-size: 30%; }

.toleman {
  background-image: url(..//Multimedia/Toleman-TG184-00.jpg);
  background-size: 50%; }

.mclaren1 {
  background-image: url(..//Multimedia/Ayrton-Senna-McLaren.jpg);
  background-size: cover; }

.mclaren1988 {
  background-image: url(..//Multimedia/1200px-Ayrton_Senna_in_1988.jpg);
  background-size: 50%; }

.sennaProst {
  background-image: url(..//Multimedia/senna-prost-gp-san-marino-1989.jpg);
  background-size: cover; }

.williams {
  background-image: url(..//Multimedia/williams.jpg);
  background-size: cover; }

.postalSenna {
  background-image: url(..//Multimedia/postalsenna.jpg);
  background-size: cover; }

.pasajeInglaterra {
  background-image: url(..//Multimedia/Senna_-Premium-blog.jpg);
  background-size: cover; }

.imgBiografia {
  width: 100%;
  background-image: url(..//Multimedia/Site-AS-Setembro-Kart-81PP-860x430-1.jpg);
  background-size: cover;
  height: 400px; }

.bg-biografia {
  background-image: url(..//Multimedia/ayrtn-senna-debuta-en-formula-1.jpg);
  background-size: contain; }

.grid-gallery {
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  grid-auto-flow: row dense; }
  .grid-gallery .grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1; }
  .grid-gallery .grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1; }
  .grid-gallery .grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1; }
  .grid-gallery .grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2; }
  .grid-gallery .grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2; }
  .grid-gallery .grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3; }
  .grid-gallery .grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media all and (max-width: 600px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr); }
  .articles {
    height: 650px; }
    .articles .articles__title {
      font-size: 1.6em; }
    .articles .articles__paragraph {
      font-size: 0.7em;
      padding-bottom: 5px;
      line-height: 15px; }
  .section__darkbg {
    font-size: 0.8em; }
  .title {
    height: 300px; }
    .title .title__head {
      font-size: 2em;
      padding-top: 60px; }
    .title .title__paragraph {
      font-size: 0.7em; }
  .title:before {
    height: 300px; }
  .imgBiografia {
    height: 200px; } }

@media all and (min-width: 600px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr); }
  .articles {
    height: 590px; }
    .articles .articles__title {
      font-size: 2em; }
    .articles .articles__paragraph {
      font-size: 0.85em; }
  .section__darkbg {
    font-size: 0.8em; }
  .title {
    height: 350px; }
    .title .title__head {
      font-size: 2em; }
    .title .title__paragraph {
      font-size: 0.85em; }
  .title:before {
    height: 350px; } }

@media all and (min-width: 992px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr); }
  .title .title__head {
    font-size: 2.5em; } }

@media all and (min-width: 1200px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr); }
  .title .title__paragraph {
    font-size: 1.1em; }
  .articles {
    height: 600px; }
    .articles .articles__title {
      font-size: 2.5em; }
    .articles .articles__paragraph {
      font-size: 1.1em; } }
