/**colors**/

$color-darkgray:rgb(51, 51, 51);

$color-lightgray: rgb(165, 165, 165);

$color-white: #f8f9fa;

$color-brightred: rgb(153, 1, 0);

$color-black: rgba(0,0,0,.9);

$color-darkblue: #00001a;

/**font**/

$principal-font: 'Roboto'; 

$bold-font: bold;




