/**colors**/

$color-darkgray:rgb(51, 51, 51);

$color-lightgray: rgb(232, 232, 232);

$color-white: white;

$color-brightred: rgb(153, 1, 0);

$color-black: black;

/**font**/

$principal-font: 'Roboto'; 

$bold-font: bold;




