@media all and (max-width: 600px){
    .grid-gallery {
        grid-template-columns: repeat(1, 1fr);
      }
    .title__head{
        font-size: 2em;
        padding-top: 60px;
    } 
    .title__paragraph{
        font-size: 0.7em;
    }
    .articles{
        height: 650px;
    }
    .articles h2{
        font-size: 1.6em;
    }
    .articles h3{
        font-size: 1.5em;
    }
    .articles p{
        font-size: 0.7em;
        padding-bottom: 5px;
        line-height: 15px;
    }
    .section__darkbg p{
        font-size: 0.8em;
    }
    .title{
        height: 300px;
    }
    .title:before{
        height: 300px;
    }
    .imgBiografia{
        height: 200px;
    }
   }
 
   @media all and (min-width: 600px) {
    .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
    .title__head{
        font-size: 2em;
    }
    .title p{
        font-size: 0.85em;
    }
    .articles{
        height: 590px;
    }
    .articles h2,h3{
        font-size: 2em;
    }
    .articles p{
        font-size: 0.85em;
    }
    .section__darkbg p{
        font-size: 0.8em;
    }
    .title{
        height: 350px;
    }
    .title:before{
        height: 350px;
    }
  }

  @media all and (min-width: 992px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .title__head{
        font-size: 2.5em;
    }
  }
  
  @media all and (min-width: 1200px) {
    .grid-gallery {
      grid-template-columns: repeat(6, 1fr);
    }
    .title p{
        font-size: 1.1em;
    }
    .articles{
        height: 600px;
    }
    .articles h2,h3{
        font-size: 2.5em;
    }
    .articles p{
        font-size: 1.1em;
    }
  }