@import 'typo';
@import '../layout/titles';
@import '../layout/grid';

@media all and (max-width: 600px){
    .grid-gallery {
        grid-template-columns: repeat(1, 1fr);
      }
    .articles{
        height: 650px;
        .articles__title{
            font-size: 1.6em;
        }
        .articles__paragraph{
            font-size: 0.7em;
            padding-bottom: 5px;
            line-height: 15px;
        }
    }
    .section__darkbg{
        font-size: 0.8em;
    }
    .title{
        height: 300px;
        .title__head{
            font-size: 2em;
            padding-top: 60px;
        } 
        .title__paragraph{
            font-size: 0.7em;
        }
    }
    .title:before{
        height: 300px;
    }
    .imgBiografia{
        height: 200px;
    }
   }
 
   @media all and (min-width: 600px) {
    .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
    .articles{
        height: 590px;
        .articles__title{
            font-size: 2em;
        }
        .articles__paragraph{
            font-size: 0.85em;
        }
    }
    .section__darkbg {
        font-size: 0.8em;
    }
    .title{
        height: 350px;
        .title__head{
            font-size: 2em;
        }
        .title__paragraph{
            font-size: 0.85em;
        }
    }
    .title:before{
        height: 350px;
    }
  }

  @media all and (min-width: 992px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .title{
        .title__head{
            font-size: 2.5em;
        }
    }
  }
  
  @media all and (min-width: 1200px) {
    .grid-gallery {
      grid-template-columns: repeat(6, 1fr);
    }
    .title{
        .title__paragraph{
        font-size: 1.1em;
        }
    }
    .articles{
        height: 600px;
        .articles__title{
            font-size: 2.5em;
        }
        .articles__paragraph{
            font-size: 1.1em;
        }
    }
  }