@import '../utilities/variables';

.articles{
    display: flex;
    background-color: $color-white;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .articles__title{
        font: 'Roboto';
        font-weight: bold; 
        font-size: 2em;
        height: 75px;
        body.dark &{
            color: $color-white;
        }
    }
    
    .articles__paragraph{
        font: 'Roboto';
        font-size: 1em;
        width: 75%;
        text-align: center;
        font-weight: 700;
        padding-bottom: 15px;
        line-height: 20px;
        body.dark &{
            color: $color-white;
        }
    }
    body.dark & {
       background-color: $color-darkgray; 
       transition: .3s ease all; 
    }
}
.sections{
    height: 50%;
    width: 100%;

    .section__darkbg{
        display: flex;
        background-color: $color-darkblue;
        height: 200px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        body.dark &{
            background-color: $color-black;
        }


        .section__darkbg--paragraph{
            color: $color-lightgray;
            font: 'Roboto';
            font-size: 1em;
            width: 75%;
            text-align: center;
            font-weight: 500;
            body.dark &{
                color: $color-white;
            }
        }
    }
}
